.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 30px;
    background-color: white;
    border-color: black;
}

ol {
    list-style-type: none;
    margin-right: 40px;
}
.status {
    margin-bottom: 20px;
    border: solid 2px black;
    width: 10%;
    padding: 5px;
    margin-left: 45%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  padding: 30px;
  background-color: white;
  border-color: black;
}